<div class="container mt-5">
    <h2 class="text-center text-success">App Services</h2>
    <div class="row g-4 mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success">IrriGap Shiny App</h5>
                    <p>Explore irrigation scheduling and data visualization for precision agriculture.</p>
                    <a href="https://danielantonioknopp.shinyapps.io/IrriGap/" class="btn btn-success" target="_blank">Go to App</a>
                </div>
            </div>
        </div>
    </div>
</div>
